:root {
    --body-bg-color: #2b222c;
    --text-bg-color: #FBF6FD;
    --container-bg-color: #5e4352;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--body-bg-color);
    color: var(--text-bg-color);
}

header {
    background-color: var(--container-bg-color);
    width: 175px;
    text-align: center;
    position: fixed;
    padding: 5px;
    visibility: visible;
}

.navbar #logo {
    width: 100%;
}

.navbar-nav {
    list-style: none;
}

.navbar-nav li a {
    color: var(--text-bg-color);
    align-items: center;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 35px 0;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--container-bg-color);
}

main {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    justify-content: space-between;
    flex-wrap: wrap;

}

.menu{
    display: none;
}

.inicio {
    padding: 70px 0;
}

@media screen and (max-width: 768px) {
    header {

        display: none;
    }

    .menu {
        width: 260px;
        margin: 60px auto 0;
        cursor: pointer;
        position: relative;
        top: 0px;
        right: 0px;
        margin: 25px;
        display: block;
        visibility: visible;
         
    }

    .title {
        width: 100%;
        box-sizing: border-box;
        background: #fff;
        padding: 14px;
        border-radius: 4px;
        position: relative;
        box-shadow: 0 0 40px -10px #000;
        color: var(--container-bg-color);
    }

    span {
        float: right;
        font-size: 18px !important;
        color: var(--container-bg-color);
    }

    .dropdown {
        width: 100%;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 0 40px -10px #000;
        color: var(--container-bg-color);
        margin-top: 24px;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s;
    }

    .down {
        max-height: 150px;
    }

    .arrow {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        position: absolute;
        right: 20px;
        bottom: -24px;
        display: none;
    }

    .arrow.gone {
        display: block;
    }

    a {
        padding: 15px 14px;
        margin: 0;
        transition: all 0.1s;
        color: var(--container-bg-color);
        
    }

    a:hover {
        background:#a78d9e;
        color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 30px -10px #000;
    }

}